Crawl server ({{ region }}) hosted and maintained by {{ server_admin }}.
------------------------------------------------------------------------------
Webtiles:           {{ protocol }}{{ subdomain }}.{{ domain }}
Crawl information:  http://crawl.develz.org/
Rebuild:            http://dobrazupa.org/rebuild/
------------------------------------------------------------------------------
** Games on this server are recorded for in-progress viewing and playback! **
------------------------------------------------------------------------------

Logged in as: $USERNAME (admin)
W) Watch games in progress

T) Dungeon Crawl Stone Soup Trunk
{% for version in versions %}{{ loop.index }}) {{ version }}  {% endfor %}


c) Change password  e) Change email address

Q)uit

=>
